
siteiscte/db.sqlite3
.idea/workspace.xml
# Ignore database file
siteiscte/db.sqlite3

# Ignore Python bytecode files
siteiscte/votacao/__pycache__/
siteiscte/votacao/migrations/__pycache__/
siteiscte/.idea/dataSources.local.xml
siteiscte/votacao/migrations/__pycache__/__init__.cpython-312.pyc
siteiscte/.idea/dataSources/258493ab-0b51-45bd-bcfa-9a436403ab85.xml
siteiscte/.idea/workspace.xml
siteiscte/siteiscte/__pycache__/settings.cpython-312.pyc
siteiscte/siteiscte/__pycache__/wsgi.cpython-312.pyc
siteiscte/votacao/__pycache__/__init__.cpython-312.pyc
siteiscte/votacao/__pycache__/apps.cpython-312.pyc
siteiscte/votacao/migrations/__pycache__/0001_initial.cpython-312.pyc
siteiscte/votacao/__pycache__/admin.cpython-312.pyc
siteiscte/siteiscte/__pycache__/urls.cpython-312.pyc
siteiscte/siteiscte/__pycache__/__init__.cpython-312.pyc
