{% extends "./base.html" %}
{% load static %}
{% block header %}<p id="username">Olá, {{ request.user.username }}!</p>
{% endblock %}
{% block body %}
    <h2>Faça Upload da Sua Fotografia</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'votacao:fazer_upload' %}">
        {% csrf_token %}
        <input type="file" name="myfile">
        <input class="btn" type="submit" value="Upload">
    </form>
    {% if uploaded_file_url %}
        <p>Feito o upload para:
            <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
            <img src="{{ uploaded_file_url }}" class="header-image">

        </p>
    {% endif %}
                <a href="{% url 'votacao:index' %}" class="btn">Retroceder</a>
{% endblock %}
