{% extends "./base.html" %}

{% block header %}
    Olá, {{ request.user.username }}!
{% endblock %}
{% block body %}
    {% if is_aluno %}
        <!-- Render content for aluno -->
        <p>Numero de votos: {{ request.user.aluno.votos}}</p>
        {% if latest_question_list %}
            <ul>
                {% for questao in latest_question_list %}
                    <li>
                        <a href="{% url 'votacao:detalhe' questao.id %}">
                            {{ questao.questao_texto }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há questões disponíveis.</p>
        {% endif %}
        <a href="{% url 'votacao:infopessoal' %}">Verificar Informação Pessoal</a>
        <a href="{% url 'votacao:logout' %}">Sair</a>
    {% else %}
        <!-- Render content for authenticated non-aluno user -->
        <p>Numero de votos: {{ request.user.administrador.votos}}</p>
        {% if latest_question_list %}
            <ul>
                {% for questao in latest_question_list %}
                    <li>
                        <a href="{% url 'votacao:detalhe' questao.id %}">
                            {{ questao.questao_texto }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há questões disponíveis.</p>
        {% endif %}
        <a href="{% url 'votacao:criarquestao' %}" class="btn">Criar Nova Questão</a> <!-- Added class "btn" for styling -->
    {% endif %}
{% endblock %}


