{% extends "./base.html" %}
{% block header %} Login {% endblock %}
{% block body %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button> <!-- Added class "btn btn-primary" for primary button styling -->
    </form>

    <div style="margin-top: 20px;"> <!-- Increased margin-top for better separation -->
        <a href="{% url 'votacao:registo_user' %}" class="btn btn-secondary">Registar</a> <!-- Added class "btn btn-secondary" for secondary button styling -->
    </div>

{% endblock %}
