{% extends "./base.html" %}
{% block header %}
    Registo
{% endblock %}
{% block body %}

    <h2>Registro de Aluno</h2>
    <form method="post">
        {% csrf_token %}
        {{ form_user.as_p }}
        {{ form_aluno.as_p }}
        <label for="comment">Comentário:</label>
        <input type="text" id="comment" name="comment">
        <button id="validateCommentButton">Validar Comentário</button>
        <span id="commentStatus"></span><br>
        <button type="submit">Registrar</button>

    </form>

{% endblock %}

