<html>
<head>
<title>add_form.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
add_form.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends &quot;admin/change_form.html&quot; %}</span>
<span class="s0">{% load i18n %}</span>

<span class="s0">{% block form_top %}</span>
  <span class="s0">{% if not is_popup %}</span>
    <span class="s1">&lt;p&gt;</span><span class="s0">{% translate 'First, enter a username and password. Then, you’ll be able to edit more user options.' %}</span><span class="s1">&lt;/p&gt;</span>
  <span class="s0">{% else %}</span>
    <span class="s1">&lt;p&gt;</span><span class="s0">{% translate &quot;Enter a username and password.&quot; %}</span><span class="s1">&lt;/p&gt;</span>
  <span class="s0">{% endif %}</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>