<html>
<head>
<title>bookmarklets.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
.s4 { color: #56a8f5;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
bookmarklets.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends &quot;admin/base_site.html&quot; %}</span>
<span class="s0">{% load i18n %}</span>

<span class="s0">{% block breadcrumbs %}</span>
<span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;breadcrumbs&quot;</span><span class="s1">&gt;</span>
<span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url 'admin:index' %}&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Home' %}</span><span class="s1">&lt;/a&gt;</span>
<span class="s4">&amp;rsaquo; </span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url 'django-admindocs-docroot' %}&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Documentation' %}</span><span class="s1">&lt;/a&gt;</span>
<span class="s4">&amp;rsaquo; </span><span class="s0">{% translate 'Bookmarklets' %}</span>
<span class="s1">&lt;/div&gt;</span>
<span class="s0">{% endblock %}</span>
<span class="s0">{% block title %}{% translate &quot;Documentation bookmarklets&quot; %}{% endblock %}</span>

<span class="s0">{% block content %}</span>

<span class="s1">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;quiet&quot;</span><span class="s1">&gt;</span><span class="s0">{% blocktranslate trimmed %}</span>
<span class="s0">To install bookmarklets, drag the link to your bookmarks toolbar, or right-click</span>
<span class="s0">the link and add it to your bookmarks. Now you can select the bookmarklet</span>
<span class="s0">from any page in the site.</span>
<span class="s0">{% endblocktranslate %}</span><span class="s1">&lt;/p&gt;</span>

<span class="s1">&lt;div </span><span class="s2">id</span><span class="s3">=&quot;content-main&quot;</span><span class="s1">&gt;</span>
    <span class="s1">&lt;h3&gt;&lt;a </span><span class="s2">href</span><span class="s3">=&quot;javascript:(function(){if(typeof XMLHttpRequest!='undefined'){x=new XMLHttpRequest()}else{return;}x.open('HEAD',location.href,false);x.send(null);try{view=x.getResponseHeader('x-view');}catch(e){alert('No view found for this page');return;}if(view=='undefined'){alert('No view found for this page');}document.location='{% url 'django-admindocs-views-index' %}'+view+'/';})()&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate &quot;Documentation for this page&quot; %}</span><span class="s1">&lt;/a&gt;&lt;/h3&gt;</span>
    <span class="s1">&lt;p&gt;</span><span class="s0">{% translate &quot;Jumps you from any page to the documentation for the view that generates that page.&quot; %}</span><span class="s1">&lt;/p&gt;</span>
<span class="s1">&lt;/div&gt;</span>

<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>