<html>
<head>
<title>change_password.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
.s4 { color: #56a8f5;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
change_password.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends &quot;admin/base_site.html&quot; %}</span>
<span class="s0">{% load i18n static %}</span>
<span class="s0">{% load admin_urls %}</span>

<span class="s0">{% block extrastyle %}{{ block.super }}</span><span class="s1">&lt;link </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">href</span><span class="s3">=&quot;{% static &quot;</span><span class="s2">admin</span><span class="s0">/css/forms.css&quot; %}&quot;&gt;{% endblock %}</span>
<span class="s0">{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}</span>
<span class="s0">{% if not is_popup %}</span>
<span class="s0">{% block breadcrumbs %}</span>
<span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;breadcrumbs&quot;</span><span class="s1">&gt;</span>
<span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url 'admin:index' %}&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Home' %}</span><span class="s1">&lt;/a&gt;</span>
<span class="s4">&amp;rsaquo; </span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url 'admin:app_list' app_label=opts.app_label %}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ opts.app_config.verbose_name }}</span><span class="s1">&lt;/a&gt;</span>
<span class="s4">&amp;rsaquo; </span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url opts|admin_urlname:'changelist' %}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ opts.verbose_name_plural|capfirst }}</span><span class="s1">&lt;/a&gt;</span>
<span class="s4">&amp;rsaquo; </span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ original|truncatewords:&quot;18&quot; }}</span><span class="s1">&lt;/a&gt;</span>
<span class="s4">&amp;rsaquo; </span><span class="s0">{% translate 'Change password' %}</span>
<span class="s1">&lt;/div&gt;</span>
<span class="s0">{% endblock %}</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% block content %}</span><span class="s1">&lt;div </span><span class="s2">id</span><span class="s3">=&quot;content-main&quot;</span><span class="s1">&gt;</span>
<span class="s1">&lt;form</span><span class="s0">{% if form_url %} action=&quot;{{ form_url }}&quot;{% endif %} method=&quot;post&quot; id=&quot;{{ opts.model_name }}_form&quot;&gt;{% csrf_token %}{% block form_top %}{% endblock %}</span>
<span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">name</span><span class="s3">=&quot;username&quot; </span><span class="s2">value</span><span class="s3">=&quot;{{ original.get_username }}&quot; </span><span class="s2">class</span><span class="s3">=&quot;hidden&quot;</span><span class="s1">&gt;</span>
<span class="s1">&lt;div&gt;</span>
<span class="s0">{% if is_popup %}</span><span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;hidden&quot; </span><span class="s2">name</span><span class="s3">=&quot;{{ is_popup_var }}&quot; </span><span class="s2">value</span><span class="s3">=&quot;1&quot;</span><span class="s1">&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{% if form.errors %}</span>
    <span class="s1">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;errornote&quot;</span><span class="s1">&gt;</span>
    <span class="s0">{% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}</span>
    <span class="s1">&lt;/p&gt;</span>
<span class="s0">{% endif %}</span>

<span class="s1">&lt;p&gt;</span><span class="s0">{% blocktranslate with username=original %}Enter a new password for the user </span><span class="s1">&lt;strong&gt;</span><span class="s0">{{ username }}</span><span class="s1">&lt;/strong&gt;</span><span class="s0">.{% endblocktranslate %}</span><span class="s1">&lt;/p&gt;</span>

<span class="s1">&lt;fieldset </span><span class="s2">class</span><span class="s3">=&quot;module aligned&quot;</span><span class="s1">&gt;</span>

<span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;form-row&quot;</span><span class="s1">&gt;</span>
  <span class="s0">{{ form.password1.errors }}</span>
  <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;flex-container&quot;</span><span class="s1">&gt;</span><span class="s0">{{ form.password1.label_tag }} {{ form.password1 }}</span><span class="s1">&lt;/div&gt;</span>
  <span class="s0">{% if form.password1.help_text %}</span>
  <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;help&quot;</span><span class="s2">{% if form.password1.id_for_label %} id</span><span class="s3">=&quot;{{ form.password1.id_for_label }}_helptext&quot;</span><span class="s2">{% endif %}</span><span class="s1">&gt;</span><span class="s0">{{ form.password1.help_text|safe }}</span><span class="s1">&lt;/div&gt;</span>
  <span class="s0">{% endif %}</span>
<span class="s1">&lt;/div&gt;</span>

<span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;form-row&quot;</span><span class="s1">&gt;</span>
  <span class="s0">{{ form.password2.errors }}</span>
  <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;flex-container&quot;</span><span class="s1">&gt;</span><span class="s0">{{ form.password2.label_tag }} {{ form.password2 }}</span><span class="s1">&lt;/div&gt;</span>
  <span class="s0">{% if form.password2.help_text %}</span>
  <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;help&quot;</span><span class="s2">{% if form.password2.id_for_label %} id</span><span class="s3">=&quot;{{ form.password2.id_for_label }}_helptext&quot;</span><span class="s2">{% endif %}</span><span class="s1">&gt;</span><span class="s0">{{ form.password2.help_text|safe }}</span><span class="s1">&lt;/div&gt;</span>
  <span class="s0">{% endif %}</span>
<span class="s1">&lt;/div&gt;</span>

<span class="s1">&lt;/fieldset&gt;</span>

<span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;submit-row&quot;</span><span class="s1">&gt;</span>
<span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;{% translate 'Change password' %}&quot; </span><span class="s2">class</span><span class="s3">=&quot;default&quot;</span><span class="s1">&gt;</span>
<span class="s1">&lt;/div&gt;</span>

<span class="s1">&lt;/div&gt;</span>
<span class="s1">&lt;/form&gt;&lt;/div&gt;</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>