<html>
<head>
<title>change_list_object_tools.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
change_list_object_tools.html</font>
</center></td></tr></table>
<pre><span class="s0">{% load i18n admin_urls %}</span>

<span class="s0">{% block object-tools-items %}</span>
  <span class="s0">{% if has_add_permission %}</span>
  <span class="s1">&lt;li&gt;</span>
    <span class="s0">{% url cl.opts|admin_urlname:'add' as add_url %}</span>
    <span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% add_preserved_filters add_url is_popup to_field %}&quot; </span><span class="s2">class</span><span class="s3">=&quot;addlink&quot;</span><span class="s1">&gt;</span>
      <span class="s0">{% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}</span>
    <span class="s1">&lt;/a&gt;</span>
  <span class="s1">&lt;/li&gt;</span>
  <span class="s0">{% endif %}</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>