<html>
<head>
<title>csrf_403.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
.s4 { color: #2aacb8;}
.s5 { color: #56a8f5;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
csrf_403.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
  <span class="s0">&lt;meta </span><span class="s2">http-equiv</span><span class="s3">=&quot;content-type&quot; </span><span class="s2">content</span><span class="s3">=&quot;text/html; charset=utf-8&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;meta </span><span class="s2">name</span><span class="s3">=&quot;robots&quot; </span><span class="s2">content</span><span class="s3">=&quot;NONE,NOARCHIVE&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;title&gt;</span><span class="s1">403 Forbidden</span><span class="s0">&lt;/title&gt;</span>
  <span class="s0">&lt;style </span><span class="s2">type</span><span class="s3">=&quot;text/css&quot;</span><span class="s0">&gt;</span>
    <span class="s0">html * </span><span class="s1">{ </span><span class="s2">padding</span><span class="s1">:</span><span class="s4">0</span><span class="s1">; </span><span class="s2">margin</span><span class="s1">:</span><span class="s4">0</span><span class="s1">; }</span>
    <span class="s0">body * </span><span class="s1">{ </span><span class="s2">padding</span><span class="s1">:</span><span class="s4">10</span><span class="s3">px </span><span class="s4">20</span><span class="s3">px</span><span class="s1">; }</span>
    <span class="s0">body * * </span><span class="s1">{ </span><span class="s2">padding</span><span class="s1">:</span><span class="s4">0</span><span class="s1">; }</span>
    <span class="s0">body </span><span class="s1">{ </span><span class="s2">font</span><span class="s1">:</span><span class="s3">small sans-serif</span><span class="s1">; </span><span class="s2">background</span><span class="s1">:</span><span class="s5">#eee</span><span class="s1">; </span><span class="s2">color</span><span class="s1">:</span><span class="s5">#000</span><span class="s1">; }</span>
    <span class="s0">body</span><span class="s1">&gt;</span><span class="s0">div </span><span class="s1">{ </span><span class="s2">border-bottom</span><span class="s1">:</span><span class="s4">1</span><span class="s3">px solid </span><span class="s5">#ddd</span><span class="s1">; }</span>
    <span class="s0">h1 </span><span class="s1">{ </span><span class="s2">font-weight</span><span class="s1">:</span><span class="s3">normal</span><span class="s1">; </span><span class="s2">margin-bottom</span><span class="s1">:</span><span class="s4">.4</span><span class="s3">em</span><span class="s1">; }</span>
    <span class="s0">h1 span </span><span class="s1">{ </span><span class="s2">font-size</span><span class="s1">:</span><span class="s4">60</span><span class="s1">%; </span><span class="s2">color</span><span class="s1">:</span><span class="s5">#666</span><span class="s1">; </span><span class="s2">font-weight</span><span class="s1">:</span><span class="s3">normal</span><span class="s1">; }</span>
    <span class="s0">#info </span><span class="s1">{ </span><span class="s2">background</span><span class="s1">:</span><span class="s5">#f6f6f6</span><span class="s1">; }</span>
    <span class="s0">#info ul </span><span class="s1">{ </span><span class="s2">margin</span><span class="s1">: </span><span class="s4">0.5</span><span class="s3">em </span><span class="s4">4</span><span class="s3">em</span><span class="s1">; }</span>
    <span class="s0">#info p</span><span class="s1">, </span><span class="s0">#summary p </span><span class="s1">{ </span><span class="s2">padding-top</span><span class="s1">:</span><span class="s4">10</span><span class="s3">px</span><span class="s1">; }</span>
    <span class="s0">#summary </span><span class="s1">{ </span><span class="s2">background</span><span class="s1">: </span><span class="s5">#ffc</span><span class="s1">; }</span>
    <span class="s0">#explanation </span><span class="s1">{ </span><span class="s2">background</span><span class="s1">:</span><span class="s5">#eee</span><span class="s1">; </span><span class="s2">border-bottom</span><span class="s1">: </span><span class="s4">0</span><span class="s3">px none</span><span class="s1">; }</span>
  <span class="s0">&lt;/style&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
<span class="s0">&lt;div </span><span class="s2">id</span><span class="s3">=&quot;summary&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;h1&gt;</span><span class="s1">{{ title }} </span><span class="s0">&lt;span&gt;</span><span class="s1">(403)</span><span class="s0">&lt;/span&gt;&lt;/h1&gt;</span>
  <span class="s0">&lt;p&gt;</span><span class="s1">{{ main }}</span><span class="s0">&lt;/p&gt;</span>
<span class="s1">{% if no_referer %}</span>
  <span class="s0">&lt;p&gt;</span><span class="s1">{{ no_referer1 }}</span><span class="s0">&lt;/p&gt;</span>
  <span class="s0">&lt;p&gt;</span><span class="s1">{{ no_referer2 }}</span><span class="s0">&lt;/p&gt;</span>
  <span class="s0">&lt;p&gt;</span><span class="s1">{{ no_referer3 }}</span><span class="s0">&lt;/p&gt;</span>
<span class="s1">{% endif %}</span>
<span class="s1">{% if no_cookie %}</span>
  <span class="s0">&lt;p&gt;</span><span class="s1">{{ no_cookie1 }}</span><span class="s0">&lt;/p&gt;</span>
  <span class="s0">&lt;p&gt;</span><span class="s1">{{ no_cookie2 }}</span><span class="s0">&lt;/p&gt;</span>
<span class="s1">{% endif %}</span>
<span class="s0">&lt;/div&gt;</span>
<span class="s1">{% if DEBUG %}</span>
<span class="s0">&lt;div </span><span class="s2">id</span><span class="s3">=&quot;info&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;h2&gt;</span><span class="s1">Help</span><span class="s0">&lt;/h2&gt;</span>
    <span class="s1">{% if reason %}</span>
    <span class="s0">&lt;p&gt;</span><span class="s1">Reason given for failure:</span><span class="s0">&lt;/p&gt;</span>
    <span class="s0">&lt;pre&gt;</span>
    <span class="s1">{{ reason }}</span>
    <span class="s0">&lt;/pre&gt;</span>
    <span class="s1">{% endif %}</span>

  <span class="s0">&lt;p&gt;</span><span class="s1">In general, this can occur when there is a genuine Cross Site Request Forgery, or when</span>
  <span class="s0">&lt;a</span>
  <span class="s2">href</span><span class="s3">=&quot;https://docs.djangoproject.com/en/{{ docs_version }}/ref/csrf/&quot;</span><span class="s0">&gt;</span><span class="s1">Django’s</span>
  <span class="s1">CSRF mechanism</span><span class="s0">&lt;/a&gt; </span><span class="s1">has not been used correctly.  For POST forms, you need to</span>
  <span class="s1">ensure:</span><span class="s0">&lt;/p&gt;</span>

  <span class="s0">&lt;ul&gt;</span>
    <span class="s0">&lt;li&gt;</span><span class="s1">Your browser is accepting cookies.</span><span class="s0">&lt;/li&gt;</span>

    <span class="s0">&lt;li&gt;</span><span class="s1">The view function passes a </span><span class="s0">&lt;code&gt;</span><span class="s1">request</span><span class="s0">&lt;/code&gt; </span><span class="s1">to the template’s </span><span class="s0">&lt;a</span>
    <span class="s2">href</span><span class="s3">=&quot;https://docs.djangoproject.com/en/dev/topics/templates/#django.template.backends.base.Template.render&quot;</span><span class="s0">&gt;&lt;code&gt;</span><span class="s1">render</span><span class="s0">&lt;/code&gt;&lt;/a&gt;</span>
    <span class="s1">method.</span><span class="s0">&lt;/li&gt;</span>

    <span class="s0">&lt;li&gt;</span><span class="s1">In the template, there is a </span><span class="s0">&lt;code&gt;</span><span class="s1">{% templatetag openblock %} csrf_token</span>
    <span class="s1">{% templatetag closeblock %}</span><span class="s0">&lt;/code&gt; </span><span class="s1">template tag inside each POST form that</span>
    <span class="s1">targets an internal URL.</span><span class="s0">&lt;/li&gt;</span>

    <span class="s0">&lt;li&gt;</span><span class="s1">If you are not using </span><span class="s0">&lt;code&gt;</span><span class="s1">CsrfViewMiddleware</span><span class="s0">&lt;/code&gt;</span><span class="s1">, then you must use</span>
    <span class="s0">&lt;code&gt;</span><span class="s1">csrf_protect</span><span class="s0">&lt;/code&gt; </span><span class="s1">on any views that use the </span><span class="s0">&lt;code&gt;</span><span class="s1">csrf_token</span><span class="s0">&lt;/code&gt;</span>
    <span class="s1">template tag, as well as those that accept the POST data.</span><span class="s0">&lt;/li&gt;</span>

    <span class="s0">&lt;li&gt;</span><span class="s1">The form has a valid CSRF token. After logging in in another browser</span>
    <span class="s1">tab or hitting the back button after a login, you may need to reload the</span>
    <span class="s1">page with the form, because the token is rotated after a login.</span><span class="s0">&lt;/li&gt;</span>
  <span class="s0">&lt;/ul&gt;</span>

  <span class="s0">&lt;p&gt;</span><span class="s1">You’re seeing the help section of this page because you have </span><span class="s0">&lt;code&gt;</span><span class="s1">DEBUG =</span>
  <span class="s1">True</span><span class="s0">&lt;/code&gt; </span><span class="s1">in your Django settings file. Change that to </span><span class="s0">&lt;code&gt;</span><span class="s1">False</span><span class="s0">&lt;/code&gt;</span><span class="s1">,</span>
  <span class="s1">and only the initial error message will be displayed.  </span><span class="s0">&lt;/p&gt;</span>

  <span class="s0">&lt;p&gt;</span><span class="s1">You can customize this page using the CSRF_FAILURE_VIEW setting.</span><span class="s0">&lt;/p&gt;</span>
<span class="s0">&lt;/div&gt;</span>
<span class="s1">{% else %}</span>
<span class="s0">&lt;div </span><span class="s2">id</span><span class="s3">=&quot;explanation&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;p&gt;&lt;small&gt;</span><span class="s1">{{ more }}</span><span class="s0">&lt;/small&gt;&lt;/p&gt;</span>
<span class="s0">&lt;/div&gt;</span>
<span class="s1">{% endif %}</span>
<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span>
</pre>
</body>
</html>