<html>
<head>
<title>date_hierarchy.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
.s4 { color: #56a8f5;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
date_hierarchy.html</font>
</center></td></tr></table>
<pre><span class="s0">{% if show %}</span>
<span class="s1">&lt;nav </span><span class="s2">class</span><span class="s3">=&quot;toplinks&quot;</span><span class="s1">&gt;</span>
<span class="s0">{% block date-hierarchy-toplinks %}</span>
<span class="s0">{% block date-hierarchy-back %}</span>
<span class="s0">{% if back %}</span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{{ back.link }}&quot; </span><span class="s2">class</span><span class="s3">=&quot;date-back&quot;</span><span class="s1">&gt;</span><span class="s4">&amp;lsaquo; </span><span class="s0">{{ back.title }}</span><span class="s1">&lt;/a&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{% endblock %}</span>
<span class="s0">{% block date-hierarchy-choices %}</span>
<span class="s0">{% for choice in choices %}</span>
<span class="s0">{% if choice.link %}</span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{{ choice.link }}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ choice.title }}</span><span class="s1">&lt;/a&gt;</span><span class="s0">{% else %}{{ choice.title }}{% endif %}</span>
<span class="s0">{% endfor %}</span>
<span class="s0">{% endblock %}</span>
<span class="s0">{% endblock %}</span>
<span class="s1">&lt;/nav&gt;</span>
<span class="s0">{% endif %}</span>
</pre>
</body>
</html>