<html>
<head>
<title>directory_index.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
directory_index.html</font>
</center></td></tr></table>
<pre><span class="s0">{% load i18n %}</span>
<span class="s1">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s1">&gt;</span>
<span class="s1">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot;</span><span class="s1">&gt;</span>
  <span class="s1">&lt;head&gt;</span>
    <span class="s1">&lt;meta </span><span class="s2">http-equiv</span><span class="s3">=&quot;Content-type&quot; </span><span class="s2">content</span><span class="s3">=&quot;text/html; charset=utf-8&quot;</span><span class="s1">&gt;</span>
    <span class="s1">&lt;meta </span><span class="s2">http-equiv</span><span class="s3">=&quot;Content-Language&quot; </span><span class="s2">content</span><span class="s3">=&quot;en-us&quot;</span><span class="s1">&gt;</span>
    <span class="s1">&lt;meta </span><span class="s2">name</span><span class="s3">=&quot;robots&quot; </span><span class="s2">content</span><span class="s3">=&quot;NONE,NOARCHIVE&quot;</span><span class="s1">&gt;</span>
    <span class="s1">&lt;title&gt;</span><span class="s0">{% blocktranslate %}Index of {{ directory }}{% endblocktranslate %}</span><span class="s1">&lt;/title&gt;</span>
  <span class="s1">&lt;/head&gt;</span>
  <span class="s1">&lt;body&gt;</span>
    <span class="s1">&lt;h1&gt;</span><span class="s0">{% blocktranslate %}Index of {{ directory }}{% endblocktranslate %}</span><span class="s1">&lt;/h1&gt;</span>
    <span class="s1">&lt;ul&gt;</span>
      <span class="s0">{% if directory != &quot;/&quot; %}</span>
      <span class="s1">&lt;li&gt;&lt;a </span><span class="s2">href</span><span class="s3">=&quot;../&quot;</span><span class="s1">&gt;</span><span class="s0">../</span><span class="s1">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="s0">{% endif %}</span>
      <span class="s0">{% for f in file_list %}</span>
      <span class="s1">&lt;li&gt;&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{{ f|urlencode }}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ f }}</span><span class="s1">&lt;/a&gt;&lt;/li&gt;</span>
      <span class="s0">{% endfor %}</span>
    <span class="s1">&lt;/ul&gt;</span>
  <span class="s1">&lt;/body&gt;</span>
<span class="s1">&lt;/html&gt;</span>
</pre>
</body>
</html>