<html>
<head>
<title>field.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
field.html</font>
</center></td></tr></table>
<pre><span class="s0">{% if field.use_fieldset %}</span>
  <span class="s1">&lt;fieldset&gt;</span>
  <span class="s0">{% if field.label %}{{ field.legend_tag }}{% endif %}</span>
<span class="s0">{% else %}</span>
  <span class="s0">{% if field.label %}{{ field.label_tag }}{% endif %}</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% if field.help_text %}</span><span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;helptext&quot;</span><span class="s2">{% if field.auto_id %} id</span><span class="s3">=&quot;{{ field.auto_id }}_helptext&quot;</span><span class="s2">{% endif %}</span><span class="s1">&gt;</span><span class="s0">{{ field.help_text|safe }}</span><span class="s1">&lt;/div&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{{ field.errors }}</span>
<span class="s0">{{ field }}</span>
<span class="s0">{% if field.use_fieldset %}</span><span class="s1">&lt;/fieldset&gt;</span><span class="s0">{% endif %}</span>
</pre>
</body>
</html>