<html>
<head>
<title>multiple_input.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
multiple_input.html</font>
</center></td></tr></table>
<pre><span class="s0">{% with id=widget.attrs.id %}</span><span class="s1">&lt;div</span><span class="s0">{% if id %} id=&quot;{{ id }}&quot;{% endif %}{% if widget.attrs.class %} class=&quot;{{ widget.attrs.class }}&quot;{% endif %}&gt;{% for group, options, index in widget.optgroups %}{% if group %}</span>
  <span class="s1">&lt;div&gt;&lt;label&gt;</span><span class="s0">{{ group }}</span><span class="s1">&lt;/label&gt;</span><span class="s0">{% endif %}{% for option in options %}</span><span class="s1">&lt;div&gt;</span>
    <span class="s0">{% include option.template_name with widget=option %}</span><span class="s1">&lt;/div&gt;</span><span class="s0">{% endfor %}{% if group %}</span>
  <span class="s1">&lt;/div&gt;</span><span class="s0">{% endif %}{% endfor %}</span>
<span class="s1">&lt;/div&gt;</span><span class="s0">{% endwith %}</span>
</pre>
</body>
</html>