<html>
<head>
<title>object_delete_summary.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
object_delete_summary.html</font>
</center></td></tr></table>
<pre><span class="s0">{% load i18n %}</span>
<span class="s1">&lt;h2&gt;</span><span class="s0">{% translate &quot;Summary&quot; %}</span><span class="s1">&lt;/h2&gt;</span>
<span class="s1">&lt;ul&gt;</span>
    <span class="s0">{% for model_name, object_count in model_count %}</span>
    <span class="s1">&lt;li&gt;</span><span class="s0">{{ model_name|capfirst }}: {{ object_count }}</span><span class="s1">&lt;/li&gt;</span>
    <span class="s0">{% endfor %}</span>
<span class="s1">&lt;/ul&gt;</span>
</pre>
</body>
</html>