<html>
<head>
<title>pagination.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
pagination.html</font>
</center></td></tr></table>
<pre><span class="s0">{% load admin_list %}</span>
<span class="s0">{% load i18n %}</span>
<span class="s1">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;paginator&quot;</span><span class="s1">&gt;</span>
<span class="s0">{% if pagination_required %}</span>
<span class="s0">{% for i in page_range %}</span>
    <span class="s0">{% paginator_number cl i %}</span>
<span class="s0">{% endfor %}</span>
<span class="s0">{% endif %}</span>
<span class="s0">{{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}</span>
<span class="s0">{% if show_all_url %}</span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{{ show_all_url }}&quot; </span><span class="s2">class</span><span class="s3">=&quot;showall&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Show all' %}</span><span class="s1">&lt;/a&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{% if cl.formset and cl.result_count %}</span><span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">name</span><span class="s3">=&quot;_save&quot; </span><span class="s2">class</span><span class="s3">=&quot;default&quot; </span><span class="s2">value</span><span class="s3">=&quot;{% translate 'Save' %}&quot;</span><span class="s1">&gt;</span><span class="s0">{% endif %}</span>
<span class="s1">&lt;/p&gt;</span>
</pre>
</body>
</html>