<html>
<head>
<title>password_reset_subject.txt</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
password_reset_subject.txt</font>
</center></td></tr></table>
<pre><span class="s0">{% load i18n %}{% autoescape off %}</span>
<span class="s0">{% blocktranslate %}Password reset on {{ site_name }}{% endblocktranslate %}</span>
<span class="s0">{% endautoescape %}</span></pre>
</body>
</html>