<html>
<head>
<title>password_change_done.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
.s4 { color: #56a8f5;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
password_change_done.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends &quot;admin/base_site.html&quot; %}</span>
<span class="s0">{% load i18n %}</span>
<span class="s0">{% block userlinks %}</span>
  <span class="s0">{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}</span><span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{{ docsroot }}&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Documentation' %}</span><span class="s1">&lt;/a&gt; </span><span class="s0">/ {% endif %}{% translate 'Change password' %} /</span>
  <span class="s1">&lt;form </span><span class="s2">id</span><span class="s3">=&quot;logout-form&quot; </span><span class="s2">method</span><span class="s3">=&quot;post&quot; </span><span class="s2">action</span><span class="s3">=&quot;{% url 'admin:logout' %}&quot;</span><span class="s1">&gt;</span>
    <span class="s0">{% csrf_token %}</span>
    <span class="s1">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;submit&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Log out' %}</span><span class="s1">&lt;/button&gt;</span>
  <span class="s1">&lt;/form&gt;</span>
  <span class="s0">{% include &quot;admin/color_theme_toggle.html&quot; %}</span>
<span class="s0">{% endblock %}</span>
<span class="s0">{% block breadcrumbs %}</span>
<span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;breadcrumbs&quot;</span><span class="s1">&gt;</span>
<span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url 'admin:index' %}&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Home' %}</span><span class="s1">&lt;/a&gt;</span>
<span class="s4">&amp;rsaquo; </span><span class="s0">{% translate 'Password change' %}</span>
<span class="s1">&lt;/div&gt;</span>
<span class="s0">{% endblock %}</span>

<span class="s0">{% block content %}</span>
<span class="s1">&lt;p&gt;</span><span class="s0">{% translate 'Your password was changed.' %}</span><span class="s1">&lt;/p&gt;</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>