<html>
<head>
<title>submit_line.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
submit_line.html</font>
</center></td></tr></table>
<pre><span class="s0">{% load i18n admin_urls %}</span>
<span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;submit-row&quot;</span><span class="s1">&gt;</span>
<span class="s0">{% block submit-row %}</span>
<span class="s0">{% if show_save %}</span><span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;{% translate 'Save' %}&quot; </span><span class="s2">class</span><span class="s3">=&quot;default&quot; </span><span class="s2">name</span><span class="s3">=&quot;_save&quot;</span><span class="s1">&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{% if show_save_as_new %}</span><span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;{% translate 'Save as new' %}&quot; </span><span class="s2">name</span><span class="s3">=&quot;_saveasnew&quot;</span><span class="s1">&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{% if show_save_and_add_another %}</span><span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;{% translate 'Save and add another' %}&quot; </span><span class="s2">name</span><span class="s3">=&quot;_addanother&quot;</span><span class="s1">&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{% if show_save_and_continue %}</span><span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">value</span><span class="s3">=&quot;{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}&quot; </span><span class="s2">name</span><span class="s3">=&quot;_continue&quot;</span><span class="s1">&gt;</span><span class="s0">{% endif %}</span>
<span class="s0">{% if show_close %}</span>
    <span class="s0">{% url opts|admin_urlname:'changelist' as changelist_url %}</span>
    <span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% add_preserved_filters changelist_url %}&quot; </span><span class="s2">class</span><span class="s3">=&quot;closelink&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate 'Close' %}</span><span class="s1">&lt;/a&gt;</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% if show_delete_link and original %}</span>
    <span class="s0">{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}</span>
    <span class="s1">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% add_preserved_filters delete_url %}&quot; </span><span class="s2">class</span><span class="s3">=&quot;deletelink&quot;</span><span class="s1">&gt;</span><span class="s0">{% translate &quot;Delete&quot; %}</span><span class="s1">&lt;/a&gt;</span>
<span class="s0">{% endif %}</span>
<span class="s0">{% endblock %}</span>
<span class="s1">&lt;/div&gt;</span>
</pre>
</body>
</html>