header {
    height: 300px;
    width: 100%;
    position: relative;
    background-image: url('banner.jpg');
    background-size: 70%; /
    background-position: left center;
    background-repeat: no-repeat;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #95c11f;
}

.main {
    margin-right: 160px;
    margin-bottom: 120px;
    font-size: 28px;
    padding: 20px;
    max-width: calc(100% - 180px);
}

.sidenav {
    width: 160px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    height: 100%;
}

.sidenav .box {
    background-color: #95c11f;
    padding: 10px;
    margin-bottom: 20px;
}

.sidenav .box h2 {
    color: #fff;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sidenav .box p {
    color: #fff;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.sidenav a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

form {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.article p {
    font-size: 18px;
    line-height: 1.6;
}

.emblematic-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.main .article {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
table {
    max-width: 100%;
    width: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #f1f1f1;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 160px;
    width: calc(100% - 160px);
    z-index: 1;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
       .image-container {
        width: 90%; /* Largura ajustada para telas menores */
        padding: 10px; /* Reduz o espaçamento interno */
    }
    .main {
        margin-right: 0; /* Remove a margem direita para ocupar toda a largura disponível */
        max-width: 100%; /* Define a largura máxima para ocupar toda a largura disponível */
    }

    footer {
        right: 0;
        width: 100%;
    }

    .sidenav {
        position: static; /* Altera a posição para estática para que a barra lateral apareça abaixo do conteúdo principal em telas menores */
        width: auto; /* Define a largura automática para ocupar a largura disponível */
        margin-top: 20px; /* Adiciona margem superior para separar da área de conteúdo principal */
    }
}
