.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #95c11f;
}

body {
  font-family: "Lato", sans-serif;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #95c11f;
}

body {
  font-family: "Lato", sans-serif;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav {
  width: 160px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  height: 100%;
}

.box {
  background-color: #95c11f;
  padding: 10px;
  margin-bottom: 20px;
}

.box h2 {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.box p {
  color: #fff;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
.main {
  margin-left: 160px; /* Alterado para margin-left para deixar espaço para a barra lateral */
  font-size: 28px; /* Ajuste opcional */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

