/* Estilo base para a barra de navegação */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #95c11f;
}

/* Estilo para o conteúdo principal */
.main {
    margin-left: 160px; /* Deixa espaço para a barra lateral */
    font-size: 28px; /* Ajuste opcional */
    padding: 0px 10px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu li {
        float: none;
        margin-bottom: 10px;
    }
}

/* Estilo para a barra lateral */
.sidenav {
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    height: 100%;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* Estilo para o conteúdo da barra lateral */
.sidenav-content {
    padding: 20px;
    color: #fff;
}

/* Estilo para o footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}